body { 
  text-align: center;
  background-image: url("../static/img/background.png"); 
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.6) 100%), url("../static/img/background.png");
  filter: alpha(opacity=30);
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=30);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: helvetica;
  opacity: 50%;
}

.fancy_butns { 
    margin: 25px;
    font-family:'Luckiest Guy', cursive;
    font-size: 20px;
    color: #0095DD;
    text-shadow: 4px 4px 4px #f0ad4e;
}

#rounded-image {
  border-radius: 150px;
  padding: 20px; 
  width: 150px;
  height: 150px; 
}

#login_form, #register_form {
  background: #7796ce;
  border-radius: 15px;
  padding: 20px; 
  width: 250px;
  height: 250px; 
}

article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }

p {

  font-size: 22px;
}