body { 
  text-align: center;
  background-image: url("../static/img/background.png"); 
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.8) 100%), url("../static/img/background.png");
  filter: alpha(opacity=60);
  background-size: cover;
  background-position: center;
  color: #c2d6c2;
  font-family: helvetica;
  opacity: 50%;
}

h1 {
    color: #c2d6c2;
}

#myCanvas {
  background-color: #c2d6c2; 
  width: 70%;
  height: auto;
}

#myProgress {
    background-color: #009900;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #0095DD;
}

#msg {
    font-family: Arial;
    font-size: 16px;
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: Transparent;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  background-color: black;
}

