<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/styles.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery.js"></script>
        <title>{% block title %} Arkanoid Project {% endblock %}</title>
    </head>
    <body>
        <div class="container">
         <div class="row">
            <div class="col-xs-10">
                {% if session.get('current_user')%}
                    <a href="/users/{{session.get('current_user')}}">
                        <img src="{{session.get('avatar')}}" class="img-thumbnail" alt="Cinque Terre" width="100" height="100">
                    </a>
                    <p> Nice to see you, {{session.get("name")}}!</p>
                {% endif %}
            </div>
            <div class="col-xs-2">
                {% if session.get('current_user') %}
                    <button onclick="window.location.href='/logout'" style="width:auto;" class="btn btn-outline-success">Logout</button>
                {% else %}
                  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="btn btn-outline-success">Login</button>
                  <div id="id01" class="modal">  
                    <form class="modal-content animate" action="/login_user">
                      <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="static/img/img_avatar.png" alt="Avatar" class="avatar">
                      </div>
                      <div class="container">
                        <label><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>
                        <label><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                        <button type="submit">Login</button>
                      </div>
                      <div class="container">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                      </div>
                    </form>
                  </div>
                  <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;" class="btn btn-outline-success">Register</button>
                  <div id="id02" class="modal">  
                    <form class="modal-content animate" action="/register" method="POST">
                      <div class="imgcontainer">
                        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                        <img src="static/img/img_avatar.png" alt="Avatar" class="avatar">
                      </div>
                      <div class="container">
                        <label><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>
                        <label><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                        I want personilized avatar! <input type="checkbox" id="want_avatar" name="want_avatar" value="true">
                        <button type="submit">Register me</button>
                      </div>
                      <div class="container">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                      </div>
                    </form>
                  </div>
                  {% endif %}
              </div>
        </div>

        <div class="row">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}                    
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {% block content %} {% endblock %}
      </div>
    </body>

</html>