<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/styles.css" rel="stylesheet">
        <title>{% block title %} Arkanoid Project {% endblock %}</title>
        <style>{% block style %}Optional Style {% endblock %}</style>
    </head>
    <body>
        <div class="container">
         <div class="row">
            <div class="col-xs-6">
                    <a href="/users/{{session.get('current_user')}}">
                        <img src="{{session.get('avatar')}}" class="img-thumbnail" width="100" height="100">
                    </a>
                    <p> Nice to see you, {{session.get("name")}}!</p>
            </div>
            <div class="col-xs-6">
                    <button onclick="window.location.href='/logout'" style="width:auto;" class="btn btn-outline-success">Logout</button>
              </div>
        </div>

        <div class="row">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}                    
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <script>
        // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target.className ==  "modal") {
              $("div#id01.modal").css({display :"none"});
              $("div#id02.modal").css({display : "none"});
            }};
        </script>
        {% block content %} {% endblock %}
      </div>
    </body>
</html>