
{% extends "_base.html" %}
{% block title%} Arkanoid Project {% endblock %}
{% block content %}
 
  <div class="row">
    <h1>Arkanoid Project </h1>
  </div>

  <div class="row">
    <img src="../static/img/bricks.png" style="display:none;" id="brick_img" height="42" width="42">
  </div>

  <div class="row">
        <button style="width:auto;" class="btn btn-outline-primary" id="play-game" value="Play" >Play</button>
        <button style="width:auto;" class="btn btn-outline-primary" id="stop-game" style="display:none;">Stop</button>
        <button style="width:auto;" class="btn btn-outline-success" id="save-game" style="display:none;">Save</button>
  </div>

  <br >
  <div class="row">
    <canvas id="myCanvas" width="480" height="320" style="border:1px solid #c3c3c3;"></canvas>
  </div>

  <div class="row">
    {% if session.get("saved_game") %}
      <div id="saved_game" style="display: none;">{{session["saved_game"]}}</div>
    {% else %}
      <div id="saved_game" style="display: none;">None</div>    
    {% endif %}
  </div>

  <br >
  <div class="row">
      <p id="game_progress"></p>
      <p id="game_stat"></p> 
 </div>  
  <script src="../static/game.js"></script>
  <script src="http://code.jquery.com/jquery.js"></script>
 {% endblock %}
