<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
     <link href="static/start_style.css" rel="stylesheet">
</head>
<body>
    <container>
        <div class="row">
         <img id= "rounded-image" src="static/img/img_avatar.png">
         <h1> Welcome to Arcanoid %username%! </h1>
        </div> 

        <div class="row">
          <article>
                <ul>
                    <ol><button style="margin: 30px;" type="button" id="login" class="btn btn-success">Login</button></ol>

                         <form id="login_form" action="/login_user" method="POST" style="display:none;">
                                <div class="form-group">
                                  Username <input type="username" class="form-control" id="username" placeholder="Enter username" name="username" required>
                                </div>
                                <div class="form-group">
                                 Password <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-default" style="margin: 30px;">I swear it is me</button>
                              </form> 
                      
                    <ol>
                        <button id="register" style="margin: 30px;" type="button" class="btn btn-warning">Register</button></ol>

                        <form id="register_form" action="/register" method="POST" style="display:none;">
                            <div class="form-group">
                              Username <input type="username" class="form-control" id="username" placeholder="Enter username" name="username" required>
                            </div>
                            <div class="form-group">
                             Password <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" required>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" id="want_avatar" name="want_avatar"> Want custom avatar?</label>
                            </div>
                            <button type="submit" class="btn btn-default" style="margin: 30px;">Count me in!</button>
                          </form> 
                    </ol>
                    <ol>
                        <form action="/login_guest" method="get">
                            <button type="submit" id="guest" type="button" style="margin: 30px;" class="btn btn-danger">Play as a guest</button> 
                        </form>
                    </ol>
                 </ul>
         </article>
        </row>
</container>

<script>

    login_button = document.getElementById("login");
    register_button = document.getElementById("register");
    login_form = document.getElementById("login_form"); 
    register_form = document.getElementById("register_form");

    login_button.addEventListener("click", function (){
        register_form.setAttribute("style", "display:none;");
        login_form.setAttribute("style", "display:block;");
    });

    register_button.addEventListener("click", function (){
        register_form.setAttribute("style", "display:block;");
        login_form.setAttribute("style", "display:none;");
    });

</script>
</body>
</html>