
{% extends "_base.html" %}
{% block title%} Arkanoid Project Profile for {{session.get('name')}}{% endblock %}
{% block content %}
<div class = "well" style="background-color: #c2d6c2; color: black; padding : 20px;" class="row">
  
   <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
      <form action="/">
          <button type="submit" style="font-size: 24px;"  class="btn btn-warning btn-lg btn-block">Play a new game</button>
      </form>
    </div>
      <div class="col-sm-2"></div>
  </div>

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <br>

    <div>
    {% if total_games > 0 %}

      <h3>Total games ever played by <b>{{session['name']}}</b> is <b>{{total_games}}</b>.</h3>
      <h3><b>{{"%0.f" % ((games_finished/total_games) * 100)}}%</b> of games were won. </h3>
      <h3><b>{{"%0.0f" %((games_saved/total_games) * 100)}}%</b> of games were saved below:</h3>
    {% endif %}
    </div>
    <br>
  </div>
  <div class="col-sm-4"></div>
</div>
   <div class="table-responsive">          
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th style="text-align: center;">Game ID</th>
          <th></th>
          <th style="text-align: center;">Current score and time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for game in games_in_progress%}
           {% if game.last_saving["status"] == "saved"%}
        <tr>
          <td><h4><b>{{game.game_id}}</b></h4></td>
          <td><img id = "game_screenshot" src="{{game.last_saving["screenshot"]}}" height="200" ></img></td>
          <td><h4><b>{{game.last_saving["score"]}}, {{game.last_saving.get("timing", 0)}}</b></h4></td>
          <td align="left"> <div><a href="/load_game/{{game.game_id}}">Load saved game</a></div>
              <br>
               <div><a href="/delete_game/{{game.game_id}}">Delete game</a></div>
          </td>
        </tr>
          {% endif %}
      {% endfor %}  
      </tbody>
    </table>
    </div>
  </div>
<!--   <div>
      <button id="show">Click me</button>
      <img style="display:none;" id="surprise" src="../static/img/dav_hooray.gif" width="480" height="192" frameBorder="0" class="giphy-embed" allowFullScreen></img>
  </div> -->
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script>
    // var picSource= $("#hdnSession").data('value');
    // $('game_screenshot').getContext('2d').putImageData(picSource, 0, 0);
</script>
<script>
    "use strict";       

    $('button#show').on('click', function f() {
        var image = $("img#surprise");
        image.fadeIn(2000);
    });

</script>
{% endblock %}

